// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.books-header{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0;
}



.column-box{
  height: 50px;
}

h5{
  display: inline-block;
  margin-top: 20px;
  margin-left: 80px;
}

h5:nth-child(2){
  margin-left: 150px;
}

.text-box{
  display: inline-block;
  margin-right: 400px;
}

.text-title{
  display: inline-block;
  margin-left: 20px;
}

.text-body{
  display: inline-block;
  margin-left: 80px;
  padding-right: 80px;
}

.link-list{
  width: 200px;
  display: inline-block;
  text-align: right;
}

