// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  margin: 20px;
}

.text-box{
  display: block;
  margin-left: 40px;
}

p:nth-child(2){
  margin-top: 30px;
  margin-bottom: 30px;
}